html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  color: #fff;
}

input,
textarea,
button {
  font-family: inherit;
}

.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 28px 35px 25px 20px;
}

.header__logo-h1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.h1 {
  font-size: 20.75px;
  margin: 0;
}

.h3 {
  margin: 0;
  font-size: 12px;
}

.main {
  max-width: 550px;
  margin: 0 auto;
  margin-top: 35px;
}

.main__inputs {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  height: 35px;
  text-indent: 5px;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
}

.button {
  width: 100%;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  padding: 14px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
